body {
    font-family: 'Roboto', sans-serif;
}

/************************* IMAGES *************************/

img {
    max-width: 100%;
    height: auto;
}

/************************* HEADER *************************/

.header {
    margin-bottom: 10px;
    text-align: center;
}
.header-logo {
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 20px;
}
.header-toogle {
    display: none;
}
.header-menu a {
    display: inline-block;
    padding: 10px 15px;
    font-size: 1.6rem;
    color: #202020;
    background-color: white;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}
.header-menu a:hover {
    color: white;
    background-color: #202020;
}
@media screen and (max-width: 993px) {
    .header-menu a {
        display: block;
        border-top: 1px solid #CCC;
    }
    .header-toogle {
        display: block;
        position: absolute;
        top: 25px;
        right: 10px;
    }
    .header-toogle-close {
        display: none;
    }
    #main-header:target .header-toogle-close {
        display: inline;
    }
    #main-header:target .header-toogle-open {
        display: none;
    }
    .header-menu {
        max-height: 0;
        overflow: hidden;
        transition: max-heigth 400ms ease-in-out;
    }
    #main-header:target .header-menu {
        max-height: 400px;
    }
}

/*********************** .SHORT-TEXT ***********************/

.short-text {
    text-align: center;
    background-color: gainsboro;
    padding: 7% 10%;
    font-size: 1.5rem;
    font-stretch: expanded;
    line-height: 170%;
}

/************************** TITRE **************************/


/************************ .title-like ************************/

.title-like {
    font-family: 'Reenie Beanie', Arial, sans-serif;
    /*line-height: 1.1;
    font-weight: 400;*/
    font-size: 5rem;
    /*margin: 0;
    padding: 0;*/
}

/*********************** BOUTON LIENS ***********************/


/********************** .btn btn-white **********************/

.btn-white {
    color: white;
    /*text-align: center;*/
    text-transform: uppercase;
    border: solid 1px;
    padding: 1.5%;
    /*margin: 20%;*/
}
.btn-white:hover {
    color: gray;
    background-color: #ffffff;
}

/*   
.btn-white:hover{
    color : white;
    transition: all 500ms ease-in-out;
    text-decoration: underline;
}
*/


/************************* .BANNER *************************/

.banner {
    height: 700px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.banner-desc {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);
}
.banner-desc h1 {
    color: white;
    font-size: 6rem;
    margin-bottom: 10px;
}
.banner-video-overlay {
    position: absolute;
    z-index: 2;
    overflow: hidden;
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

/********************** .THREE-WOMNEN **********************/


/*
figcaption h3{
    position: relative;
    font-family: 'Reenie Beanie';
    text-align: center;
    padding: 0;
    font-size: 5rem;
    color: white;
    text-decoration: none;
}
*/

.three-women {
    position: relative;
    overflow: hidden;
}
.three-women .hidden-sm {
    position: absolute;
    font-family: Reenie Beanie;
    color: white;
    text-align: center;
    font-size: 4rem;
    left: 25%;
    bottom: 30%;
}
.three-women-item img {
    width: 100%;
    transition: transform 500ms;
    transform: translate3d(0, 0, 0) scale(1.15);
}
.three-women-item:hover img {
    transform: translate3d(0, 0, 0) scale(1.05);
}
a.col-sm.three-women-item {
    overflow: hidden;
}
.three-women .btn {
    position: absolute;
    left: 30%;
    bottom: 5%;
}

/************************* FOOTER *************************/

.footer {
    text-align: center;
    padding-bottom: 10px;
}
.footer p {
    font-family: 'Reenie Beanie';
    font-size: 2.5rem;
    line-height: 0.8;
    margin: 0;
    padding-top: 10px;
}
.footer-socials img {
    display: none;
    margin-left: 50%;
}
.footer-socials a {
    display: inline-block;
    height: 45px;
    width: 45px;
    margin: 5px;
    background: url(../images/socials.jpg);
}

/* Technique des portes coulissantes */

.footer-socials a#btn-fb {
    background-position: -3px -5px;
}
.footer-socials a#btn-fb:hover {
    background-position: -3px -52px;
}
.footer-socials a#btn-tw {
    background-position: -64px -5px;
}
.footer-socials a#btn-tw:hover {
    background-position: -64px -52px;
}
.footer-socials a#btn-yt {
    background-position: -126px -5px;
}
.footer-socials a#btn-yt:hover {
    background-position: -126px -52px;
}
.footer-socials a#btn-it {
    background-position: -189px -5px;
}
.footer-socials a#btn-it:hover {
    background-position: -189px -52px;
}
.footer-socials a#btn-tu {
    background-position: -251px -5px;
}
.footer-socials a#btn-tu:hover {
    background-position: -251px -52px;
}

/************************ BON-PLANS ************************/

.clearfix.bons-plans {
    background-color: gainsboro;
}
.clearfix.bons-plans p {
    text-transform: uppercase;
}

/************************ .ARTICLES ************************/

.articles {
    padding-top: 30px;
    padding-bottom: 30px;
}
.articles h4 {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 20px;
}
.articles .row > div {
    /*je vais dans article, puis dans row et je selectionne toutes les div en lien directe => enfants directs de row*/
    padding: 10px;
}
.articles a {
    background-color: gainsboro;
    display: block;
    padding: 5px;
}
.articles a:hover {
    text-decoration: none;
}
.articles .articles-date {
    display: block;
    text-align: center;
    font-size: 1.9rem;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    margin-bottom: "30px";
    min-height: 50px;
}
.articles .articles-date:after {
    content: '';
    position: absolute;
    display: block;
    text-align: center;
    font-size: 1.9rem;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    margin-bottom: "30px";
}
.articles-img {
    position: relative;
}
.articles-over {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 400ms ease-in-out;
}
.articles-over span {
    position: absolute;
    width: 100%;
    top: 90%;
    color: white;
    left: 0;
    font-size: 2rem;
    transition: top 400ms ease-in-out;
}
.articles a:hover .articles-over {
    opacity: 1;
}
.articles a:hover .articles-over span {
    top: 40%;
}

/*
.articles container{
    z-index: 1;
}

div.articles-img{
    z-index: 3;
}

.articles-over{
    opacity:0;
    position:absolute;
    top:0;
    left:0px;
    background-color: black;
    width: 225px;
    height: 190px;
    margin: 0;
    z-index: 2;
	}

.articles-over:hover{
    cursor: pointer;
    opacity:1;
	}
*/


/************************ .TENDANCES ************************/


/* table-layout ==> mise en page en tableau */

.tendances {
    display: table;
    /* on le fait passer pour un tableau */
    width: 100%;
    table-layout: fixed;
    /* on fixe les largeurs */
}
.tendances-inverse {
    direction: rtl;
}
.tendances-item {
    display: table-cell;
    /* on le fait passer pour une cellule de tableau */
    width: 50%;
    direction: ltr;
}
.tendances-txt {
    vertical-align: middle;
    padding: 80px;
}
.tendances-img {
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    /* contain ==> fait en sorte que l'on voit toute l'image */
    background-position: bottom center;
    vertical-align: bottom;
}
.tendances-inverse .tendances-img {
    background-position: bottom right;
}
.btn-grey {
    color: gray;
    /*text-align: center;*/
    text-transform: uppercase;
    border: solid 1px;
    padding: 1.5%;
    /*margin: 20%;*/
}
.btn-grey:hover {
    color: gray;
    background-color: #ffffff;
}
.title-like {
    font-family: 'Reenie Beanie', Arial, sans-serif;
    line-height: 1.1;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.tendances-item span {
    color: white;
    background-color: black;
    text-align: center;
    font-size: 1rem;
}
@media screen and (max-width: 993px) {
    .tendances {
        display: block;
    }
    .tendances-item {
        display: block;
        width: 100%;
    }
}

/************************ .CONFIDENCE ************************/

.confidence-intro {
    margin-top: 10%;
}
.container-fluid {
    background-color: dimgray;
}
.container-fluid .title-like {
    color: white;
}
.confidence .link {
    color: white;
}
.confidence-produits {
    color: white;
}
.btn-white {
    color: white;
    /*text-align: center;*/
    text-transform: uppercase;
    border: solid 1px;
    padding: 1.5%;
    /*margin: 20%;*/
}
.btn-white:hover {
    color: gray;
    background-color: #ffffff;
}
.bons-plans {
    text-align: center;
    padding: 1%;
}
